<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="well">
    <% @todos.each do |todo| %>
    <h1> <%= todo.description%> </h1>
    <p> <%= todo.completed %> </p>
    <% end %>

  </body>
</html>
