<div class="row">
  <div class="container-fluid well">
    <div class="col-md-offset-1 col-md-5">
      <% @todos.each do |todo| %>
        <% if todo.completed == true%>
        <h1> <%= todo.description%> </h1>
        <p> <%= todo.completed %> </p>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
      <% @todos.each do |todo| %>
        <% if todo.completed == false %>
        <h1> <%= todo.description%> </h1>
        <p> <%= todo.completed %> </p>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
