<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-inverse navbar-fixed-top">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to 'Index', todos_path, class:"col-md-4" %>
      <%= link_to 'List', list_path, class:"col-md-4"%>
      <%= link_to 'New', todos_new_path, class:"col-md-4"%>
    </div>
  </div>
</nav>
